<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body id="body-dashboard">

	<div class="container banner" id="banner">

		<div class="container upper-banner" id="upper-banner">
			<a href="/profile">Edit Profile</a>
			<a href="/logout">Logout</a>
		</div>

		<div class="container lower-banner" id="lower-banner">
			Product Development Manager Dashboard
		</div>

	</div>

	<div class="container left-panel" id="left-panel">

		<div class="container upper-left-section" id="upper-left-section">

			<div class="container project-selection" id="project-selection">

				<form method="">
					<label for="project-select">Select A Project:</label>
					<br>
					<select name="project-select">
						<option>Sample Project</option>
					</select>
				</form>

				<form method="">
					<label for="version-select">Version/Branch:</label>
					<br>
					<select name="version-select">
						<option>Sample Version</option>
					</select>
				</form>

			</div>

			<div class="container wireframes" id="wireframes">
				Wireframes
				<ul class="wireframes" id="wireframes-list">
					<li class="wireframe" id="wireframe-item">
						<a href="">Sample Wireframe</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="container lower-left-section" id="lower-left-section">

			<div class="container user-stories" id="user-stories">
				User Stories
				<div class="container user-story-item">
					Sample User Story
				</div>
			</div>

		</div>

	</div>


	<div class="container right-panel" id="right-panel">

		<div class="container task-list" id="task-list">
			Tasks
			<div class="container task-list-item">
				Sample Task
			</div>
		</div>

	</div>

	
	

</body>

</html>









