<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body id="body-login">

	<div class="container" id="title">
		Product Development Manager
	</div>

	<div class="container" id="credentials">
		Login
		<form class="login-form" method="get" action="/dashboard">
			<label for="email">E-mail:</label>
			<br>
			<input type="text" name="email" placeholder="E-mail"/>
			<br><br>
			<label for="password">Password:</label>
			<br>
			<input type="password" name="password" placeholder="Password"/>
			<br><br>
			<input type="submit" id="login-submit" value="Log In"/>
		</form>
		<p class="submit-message" id="login-message"></p>
	</div>

	<div class="container" id="sign-up">
		<a href="/signup">Sign Up</a>
	</div>

</body>

</html>