body {
  text-align: center;
}
.container {
  float: left;
  border: solid #f00 1px;
  color: #000;
}
.container.title {
  width: 100%;
  font-size: 36px;
  margin-top: 120px;
  text-align: center;
}
.container.profile-caption {
  width: 100%;
  font-size: 24px;
  margin-top: 60px;
  text-align: center;
}
.container.profile-credentials {
  width: 50%;
  margin-top: 40px;
  margin-left: 25%;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.container.profile-credentials form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container.profile-credentials form label {
  font-size: 14px;
}
.container.profile-credentials form input {
  width: 60%;
  height: 30px;
}
.container.profile-credentials form input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 14px;
}
.container.signup {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.container.banner {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}
.container.upper-banner {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: right;
}
.container.upper-banner a {
  padding-right: 20px;
  font-size: 14px;
}
.container.lower-banner {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
}
.container.left-panel {
  width: 65%;
  padding: 2px;
  margin-left: 10px;
}
.container.upper-left-section {
  width: 98%;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.container.project-selection {
  width: 58%;
  margin-top: 5px;
  margin-left: 10px;
  min-height: 100px;
}
.container.project-selection form {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.container.project-selection form label {
  font-size: 16px;
}
.container.project-selection form select {
  width: 90%;
  height: 30px;
}
.container.wireframes {
  width: 37%;
  margin-top: 5px;
  margin-left: 10px;
  min-height: 100px;
  text-align: center;
  padding: 5px;
}
.container.lower-left-section {
  width: 98%;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.container.user-stories {
  width: 98%;
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 100px;
  text-align: center;
  padding: 5px;
}
.container.user-stories .user-story-item {
  width: 96%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: left;
}
.container.right-panel {
  width: 32%;
  padding: 2px;
  margin-left: 10px;
}
.container.task-list {
  width: 98%;
  min-height: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
.container.task-list .task-list-item {
  width: 95%;
  height: 60px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: left;
}
.login-form {
  color: #000;
}
.submit-message {
  color: #f00;
}
