.container
	float left
	border solid red 1px
	
.container#banner
	width 100%
	height 80px
	text-align center
	margin-bottom 10px
	
.container#left-panel
	width 65%
	padding 2px
	margin-left 10px

.container#upper-left-section
	width 98%
	height 200px
	padding 2px
	margin-left 5px
	margin-bottom 10px
	
.container#project-selection
	width 58%
	margin-top 5px
	margin-left 10px
	height 190px
	
.container#wireframes
	width 38%
	margin-top 5px
	margin-left 10px
	height 190px

.container#lower-left-section
	width 98%
	height 400px
	padding 2px
	margin-left 5px
	margin-bottom 10px
	
.container#user-stories
	width 99%
	margin-top 5px
	margin-bottom 10px
	height 380px
	
.container#right-panel
	width 32%
	padding 2px
	margin-left 10px
	
.container#task-list
	width 98%
	height 615px
	margin-top 5px
	margin-bottom 10px
	